{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block header-footer %}
    <div class="container col-sm-3 mx-auto" style="margin: 90px;">
            <form method="post">{% csrf_token %}
                <h2>Reset Your Password</h2><br>
                <hr>
                {{ form|crispy }}<br>
                <input type="submit" class='btn btn-outline-secondary' value="Reset password"/>
            </form>
    </div>

{% endblock %}
