{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header-footer %}
    <div class="container col-sm-3 mx-auto" style="margin: 90px;">
        <h2>Sign up</h2><br>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ user_form|crispy }}
            <button class="btn btn-primary" type="submit">Sign up</button>
            <hr>
            <p>Already have account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
{% endblock %}
