<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% load static %}
    <link rel="Stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<section>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Blogging</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'home#about-me' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}#about-me">About</a>
                    </li>
                    <li class="nav-item {% if url_name == 'post' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'post' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Hi, {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user }}{% endif %}

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log
                                out</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key"></i>
                                Change Password</a>
                            <a class="dropdown-item" href="{% url 'new_post' %}"><i class="fas fa-paste"></i> Create
                                Post</a>
                            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a>
                            {% if user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin"><i class="fas fa-user-shield"></i> Admin
                                    dashboard</a>
                            {% endif %}
                        </div>
                    </li>
                    {% else %}
                        <h3 class="m-1">
                            <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button"><i
                                    class="fas fa-sign-in-alt"></i> Login</a>
                            <a href="{% url 'signup' %}" class="btn btn-outline-success" role="button"><i
                                    class="fas fa-user-plus"></i> Signup</a>
                        </h3>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
</section>

{% block header-footer %}{% endblock header-footer %}
</body>
</html>