{% if post.has_next %}
    <div class="container">
        <ul class="pagination justify-content-center">
            {% if post.has_previous %}
                <li><a href="?page={{ post.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in post.paginator.page_range %}
                {% if post.number == i %}
                    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li>&nbsp;<a href="?page={{ i }}">{{ i }}</a>&nbsp;</li>
                {% endif %}
            {% endfor %}
            {% if post.has_next %}
                <li><a href="?page={{ post.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
{% endif %}